{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <p>
            Your username and password didn't match. Please try again
        </p>
    {% endif %}

    {% if next %}
        {% if user.authenticated %}
            <p>
                Your account doesn't have access to view this page.
                To proceed, please login with an account that has access.
            </p>
        {% else %}
            <p>
                Please login to view this page
            </p>
        {% endif %}
    {% endif %}

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log in">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p>Forgot password?
        <a href="{% url 'accounts:password_reset' %}">Reset</a>
    </p>
    <p>Do not have an account?
        <a href="{% url 'accounts:signup' %}">Signup</a>
    </p>
{% endblock %}