{%extends 'base.html'%}

{% block main %}
{% load static %}
<div class="nk-wrap nk-wrap-nosidebar">
    <!-- content @s -->
    <div class="nk-content ">
        <div class="nk-block nk-block-middle wide-md mx-auto">
            <div class="nk-block-content nk-error-ld text-center">
                <img class="nk-error-gfx" src="{% static 'error-404.svg' %}" alt="">
                <div class="wide-xs mx-auto">
                    <h3 class="nk-error-title">Gateway Timeout Error</h3>
                    <p class="nk-error-text">We are very sorry for inconvenience. It looks like some how our server did not receive a timely response.</p>
                    <a href="html/index.html" class="btn btn-lg btn-primary mt-2">Back To Home</a>
                </div>
            </div>
        </div><!-- .nk-block -->
    </div>
    <!-- wrap @e -->
</div>
{% endblock %}