<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Fav Icon  -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Page Title  -->
    {% block title %}
    <title>Accounts | Aptist Assessment App</title>
    {%endblock%}
    <!-- StyleSheets  -->
    
    <link rel="stylesheet" href="{% static 'css/dashlite.css' %}">
</head>

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="/" class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="{% static 'img/logo.png' %}" alt="logo">
                                <img class="logo-dark logo-img logo-img-lg" src="{% static 'img/logo-dark.png' %}" alt="logo-dark">
                            </a>
                        </div>
                        {% block content %}
                        
                        {% endblock %}
                    </div>
                    <div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-left">
                                        <p class="text-soft">&copy; {% now 'Y' %} Aptist. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- select region modal -->

</body>
</html>