{% extends 'base.html' %}

{% block content %}
    <h1>{{ assessment.name }}</h1>
    <h5>Created By: {{ assessment.created_by }}</h5>
    <h3>Date Created: {{ assessment.date_created }}</h3>
    <h3>Last Modified: {{ assessment.last_modified }}</h3>
    <h5>Pass Mark: {{ assessment.pass_mark }}%</h5>
    <h5>Duration: {{ assessment.duration }} mins</h5>
    <a href="{% url 'assessments:edit' assessment.id %}"><button type="button">Edit Assessment</button></a>

    <a href="{% url 'assessments:questions:create' assessment.id  %}"><button type="button">Add Question</button></a>
    <hr>
    <h2>Questions</h2>
    {% for question in assessment.questions.all %}
        <p><a href="{% url 'assessments:questions:detail' assessment.id  question.id %}">{{ question }}</a></p>
    {% endfor %}
{%  endblock %}