{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3>{{ assessment.name }}</h3>
        </div>
        <div class="card-body">
            <h6 class="card-title">Created By: {{ assessment.created_by }}</h6>
            <h6 class="card-title">Date Created: {{ assessment.date_created }}</h6>
            <h6 class="card-title">Last Modified: {{ assessment.last_modified }}</h6>
            <h6 class="card-title">Pass Mark: {{ assessment.pass_mark }}%</h6>
            <h6 class="card-title">Duration: {{ duration_in_time }} mins</h6>
            <a href="{% url 'assessments:edit' assessment.id %}">
                <button class="btn btn-primary">Edit Assessment</button>
            </a>
            <a href="{% url 'assessments:questions:create' assessment.id  %}">
                <button class="btn btn-primary">Add Question</button>
            </a>
        </div>
    </div>
    <hr>
    <h2>Questions</h2>
    {% for question in assessment.questions.all %}
        <p><a href="{% url 'assessments:questions:detail' assessment.id  question.id %}">{{ question }}</a></p>
    {% endfor %}
{%  endblock %}